* {
    margin: 0;
    padding: 0;
    list-style: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #a7a7a7;
    padding: 0 30px;
    height: 70px;
}

.desktop__header {
    display: none;
}

.mobile__header {
    position: fixed;
    top: 69px;
    background-color: #a7a7a7;
    height: 100%;
    width: 200px;
}

li {
    padding: 10px 25px;
    cursor: pointer;
}

li:hover {
    background-color: #6d6d6d;
}

svg {
    width: 24px;
    cursor: pointer;
}

.hidden {
    display: none;
}

@media (min-width: 540px){
    svg {
        display: none;
    }

    .desktop__header {
        display: flex;
    }

    .mobile__header {
        display: none;
    }
}